@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{ 
    ViewBag.Title = "Create Role";
}

<h2>Create</h2>

<style type="text/css">
    #tbrole, .c {
        border: double;
    }
</style>

@using (Html.BeginForm())
    {
    <table class="table table-bordered table-hover">
        <tr>
            <td class="c">Role Name</td>
            <td>
                @Html.EditorFor(m => m.Name)
            </td>

        </tr>
    </table>
    <input type="submit" value="Create Role" />
}