body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.table td.text {
    max-width: 200px;
}
.table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
    position: relative;
    height: 50px;
    width: 152px;
    background-image: url('../Images/buyalot.png');
}

/*Begin Search box css*/
#searchProducts {
    background-image: url('../Images/Detective-64.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
/*End search box css*/